@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');

.p-display {
  margin: 0 0.1em 0 0.1em;
  text-align: right;
  padding: 0.2em;
  font-family: 'Major Mono Display', monospace;
  background: #EEE;
  font-size: 1.1em;
  &:first-child {
    margin-top: 0.1em;
  }
}
