@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');

.p-display {
  border: 1px solid #CCCCCC;
  margin: 0.1em;
  text-align: right;
  padding: 0.2em;
  font-family: 'Major Mono Display', monospace;
  background: #EEE;
  font-size: 1.1em;
}
